<%=render "form" %>
<div id="title">
    <div>
        <h1><h2><%= @post.title %></h2></h1>
    </div>
</div>

<div id="article_wrap">

    <div id="content">
            <h2><p><%= @post.content %></p></h2>
    </div>


    <div id="sidebar">

        <h2>★PV数ランキング</h2>
        <ul>
        </ul>
    </div>
    <div class="clear"></div>
</div>

<footer>
    <div id="footer_inner">
        <p>Copyright RailsCamp 2015 All Rights Reserved</p>
    </div>
</footer>

</body>
</html>
